.BuildControls {
  width: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* box-shadow: 0 2px 1px #ccc; */
  margin: 10px 0px;
  padding: 36px;
  box-shadow: 0px 0px 10px 0px #ccc;
  background: #ffffffb8;
  border-radius: 12px;
}

.builder {
  background-color: #fffcf8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px 50px;
  margin-top: 0;
}

.OrderButton {
  background-color: #966909;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 30px;
  border-radius: 8px;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #311909;
  color: #fff;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
